@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 
}

.homeHeader{
  display: grid;
  grid-template-columns: 300px auto;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
