@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 overflow-x: hidden;
 position: relative;
}

.homeHeader{
  display: grid;
  grid-template-columns: 300px auto;
  transition: all 0.4s ease;
}
.activeBar{
  display: grid;
  grid-template-columns: 0px auto;
    transition: all 0.4s ease;
}

.mobile{

}

@media (max-width: 650px) {
  .homeHeader{
  display: grid;
  grid-template-columns: 0 auto;
    transition: all 0.4s ease;
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
